.tasks-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: .5rem;
}

.tasks-grid__col {
  padding-left: 40px;
}

.tasks-grid__col__title {
  text-align: center;
  font-weight: 600;
}
.tasks-grid__col__title::first-letter {
  text-transform: capitalize;
}